.banner {
  background-image: url(https://otagifs.com/assets/images/otagifs-hero-min-ec443bf123b69e4b0840aa29eda8e24e.jpg);
  background-size: cover;
  background-position: center;
  padding: 125px 0;
}

.banner h1 {
  color: white;
  margin: 0;
}

.banner p {
  font-family: Rubik;
  font-size: 20px;
  color: white;
  margin-top: 8px;
}
